@using Dominio;
@model Cliente
@{
    ViewBag.Title = "Index";
}
<h2>Cliente Común</h2>
<table>
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Email</th>
            <th>Fecha de registro</th>
            <th>Procedencia</th>
            <th>Direccion</th>
            <th>Cédula</th>
            <th>Celular</th>
            <th>Nombre de ususario</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Cliente C in Administradora.Instancia.Clientes)
        {
            if (C is ClienteComun)
            {
                ClienteComun CC = (ClienteComun)C;
                <tr>
                    <td>@CC.Nombre</td>
                    <td>@CC.Email</td>
                    <td>@CC.Fecha.ToShortDateString()</td>
                    @switch ((int)CC.Procedencia)
                    {
                        case 1:
                            <td>Montevideo</td>
                            break;
                        case 2:
                            <td>Interior</td>
                            break;
                    }
                    <td>@CC.Direccion</td>
                    <td>@CC.Cedula</td>
                    <td>@CC.Celular</td>
                    <td>@CC.Usuario.Username</td>
                    <td>
                        <form action="/Cliente/ModificarClienteComun" method="post">
                            <input type="hidden" name="Email" value="@CC.Email">
                            <input type="submit" name="Modificar" value="Modificar">
                        </form>
                    </td>
                    <td>
                        <form action="/Cliente/Eliminar" method="post">
                            <input type="hidden" name="Email" value="@CC.Email">
                            <input type="submit" name="Eliminar" value="Eliminar">
                        </form>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
<h2>Cliente Empresa</h2>
<table>
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Email</th>
            <th>Fecha de registro</th>
            <th>Procedencia</th>
            <th>Direccion</th>
            <th>Razon Social</th>
            <th>Rut</th>
            <th>Nombre de ususario</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Cliente C in Administradora.Instancia.Clientes)
        {
            if (C is ClienteEmpresa)
            {
                ClienteEmpresa CE = (ClienteEmpresa)C;
                <tr>
                    <td>@CE.Nombre</td>
                    <td>@CE.Email</td>
                    <td>@CE.Fecha.ToShortDateString()</td>
                    @switch ((int)CE.Procedencia)
                    {
                        case 1:
                            <td>Montevideo</td>
                            break;
                        case 2:
                            <td>Interior</td>
                            break;
                    }
                    <td>@CE.Direccion</td>
                    <td>@CE.RazonSocial</td>
                    <td>@CE.Rut</td>
                    <td>@CE.Usuario.Username</td>
                    <td>
                        <form action="/Cliente/ModificarClienteEmpresa" method="post">
                            <input type="hidden" name="Email" value="@CE.Email">
                            <input type="submit" name="Modificar" value="Modificar">
                        </form>
                    </td>
                    <td>
                        <form action="/Cliente/Eliminar" method="post">
                            <input type="hidden" name="Email" value="@CE.Email">
                            <input type="submit" name="Eliminar" value="Eliminar">
                        </form>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
@if (Model == null)
{
<div id="Izquierda">
    <form action="/Cliente/AgregarComun" method="post" class="gesForm">
        <fieldset>
            <legend>Agregar Cliente Comun</legend>
            <div class="form-group">
                <lable for="Nombre">Nombre:</lable>
                <input type="text" name="Nombre" class="form-control" required>
            </div>
            <div class="form-group">
                <lable for="Email">Email:</lable>
                <input type="email" name="Email" class="form-control" required>
            </div>
            <div class="form-group">
                <lable for="Fecha">Fecha:</lable>
                <input type="date" class="form-control" name="Fecha" required max="@DateTime.Now.ToString("yyyy-MM-dd")">
            </div>
            <div class="form-group">
                <lable for="Procedencia">Procedencia: </lable>
                <select name="Procedencia" class="form-control">
                    @for (int i = 0; i < Administradora.Instancia.procedencias.Length; i++)
                    {
                        <option value="@(i+1)">@Administradora.Instancia.procedencias[i]</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <lable for="Direccion">Dirección:</lable>
                <input type="text" name="Direccion" class="form-control" required>
            </div>
            <div class="form-group">
                <lable for="Cedula">Cédula:</lable>
                <input type="text" name="Cedula" class="form-control" required>
            </div>
            <div class="form-group">
                <lable for="Celular">Celular:</lable>
                <input type="text" name="Celular" class="form-control" required>
            </div>
            <div class="form-group">
                <lable for="username">Nombre de Usuario:</lable>
                <input type="text" name="username" class="form-control" required>
            </div>
            <div class="form-group">
                <lable for="password">Contraseña:</lable>
                <input type="text" name="password" class="form-control" required>
            </div>
            <input type="submit" value="Agregar">
        </fieldset>
    </form>
    <h2 class="MensajeError">@ViewBag.ErrMsg</h2>
</div>

    <div id="Derecha">
        <form action="/Cliente/AgregarEmpresa" method="post" class="gesForm">
            <fieldset>
                <legend>Agregar Cliente Empresa</legend>
                <div class="form-group">
                    <lable for="Nombre">Nombre:</lable>
                    <input type="text" name="Nombre" class="form-control" required>
                </div>
                <div class="form-group">
                    <lable for="Email">Email:</lable>
                    <input type="email" name="Email" class="form-control" required>
                </div>
                <div class="form-group">
                    <lable for="Fecha">Fecha:</lable>
                    <input type="date" class="form-control" name="Fecha" required max="@DateTime.Now.ToString("yyyy-MM-dd")">
                </div>
                <div class="form-group">
                    <lable for="Procedencia">Procedencia: </lable>
                    <select name="Procedencia" class="form-control">
                        @for (int i = 0; i < Administradora.Instancia.procedencias.Length; i++)
                        {
                            <option value="@(i+1)">@Administradora.Instancia.procedencias[i]</option>
                        }
                    </select>
                </div>
                <div class="form-group">
                    <lable for="Direccion">Dirección:</lable>
                    <input type="text" name="Direccion" class="form-control" required>
                </div>
                <div class="form-group">
                    <lable for="razonSocial">Razon Social:</lable>
                    <input type="text" name="razonSocial" class="form-control" required>
                </div>
                <div class="form-group">
                    <lable for="rut">Rut:</lable>
                    <input type="text" name="rut" class="form-control" required>
                </div>

                <div class="form-group">
                    <lable for="descuento">Descuento:</lable>
                    <input type="text" name="descuento" class="form-control" required >
                </div>

                <div class="form-group">
                    <lable for="username">Nombre de Usuario:</lable>
                    <input type="text" name="username" class="form-control" required>
                </div>
                <div class="form-group">
                    <lable for="password">Contraseña:</lable>
                    <input type="text" name="password" class="form-control" required>
                </div>
                <input type="submit" value="Agregar">
            </fieldset>
        </form>
        <h2 class="MensajeError">@ViewBag.ErrMsg</h2>
    </div>   
}
else if (Model is ClienteComun)
{
    ClienteComun CC = (ClienteComun)Model;
    <form action="/Cliente/RealizarModificacionComun" method="post" class="gesForm">
        <fieldset>
            <legend>Modificar Cliente Comun</legend>
            <div class="form-group">
                <lable for="Nombre">Nombre:</lable>
                <input type="text" name="Nombre" class="form-control" required value="@CC.Nombre">
            </div>
            <div class="form-group">
                <lable for="Fecha">Fecha:</lable>
                <input type="date" class="form-control" name="Fecha" required max="@DateTime.Now.ToString("yyyy-MM-dd")" value="@CC.Fecha.ToString("yyyy-MM-dd")">
            </div>
            <div class="form-group">
                <lable for="Procedencia">Procedencia: </lable>
                <select name="Procedencia" class="form-control">
                    @for (int i = 0; i < Administradora.Instancia.procedencias.Length; i++)
                    {
                        if ((Cliente.EnumProcedencia)(i + 1) == CC.Procedencia)
                        {
                            <option value="@(i+1)" selected>@Administradora.Instancia.procedencias[i]</option>
                        }
                        else
                        {
                            <option value="@(i+1)">@Administradora.Instancia.procedencias[i]</option>
                        }
                    }
                </select>
            </div>
            <div class="form-group">
                <lable for="Direccion">Dirección:</lable>
                <input type="text" name="Direccion" class="form-control" required value="@CC.Direccion">
            </div>
            <div class="form-group">
                <lable for="Cedula">Cédula:</lable>
                <input type="text" name="Cedula" class="form-control" required value="@CC.Cedula">
            </div>
            <div class="form-group">
                <lable for="Celular">Celular:</lable>
                <input type="text" name="Celular" class="form-control" required value="@CC.Celular">
            </div>
            <div class="form-group">
                <lable for="username">Nombre de Usuario:</lable>
                <input type="text" name="username" class="form-control" required value="@CC.Usuario.Username">
            </div>
            <div class="form-group">
                <lable for="password">Contraseña:</lable>
                <input type="text" name="password" class="form-control" required value="@CC.Usuario.Password">
            </div>
            <input type="hidden" name="Email" value="@CC.Email">
            <input type="submit" value="Modificar">
        </fieldset>
    </form>
    <h2 class="MensajeError">@ViewBag.ErrMsg</h2>
}
else
{
    ClienteEmpresa CM = (ClienteEmpresa)Model;
    <form action="/Cliente/RealizarModificacionEmpresa" method="post" class="gesForm">
        <fieldset>
            <legend>Modificar Cliente Empresa</legend>
            <div class="form-group">
                <lable for="Nombre">Nombre:</lable>
                <input type="text" name="Nombre" class="form-control" required value="@CM.Nombre">
            </div>
            <div class="form-group">
                <lable for="Fecha">Fecha:</lable>
                <input type="date" class="form-control" name="Fecha" required max="@DateTime.Now.ToString("yyyy-MM-dd")" value="@CM.Fecha.ToString("yyyy-MM-dd")">
            </div>
            <div class="form-group">
                <lable for="Procedencia">Procedencia: </lable>
                <select name="Procedencia" class="form-control">
                    @for (int i = 0; i < Administradora.Instancia.procedencias.Length; i++)
                    {
                        if ((Cliente.EnumProcedencia)(i + 1) == CM.Procedencia)
                        {
                            <option value="@(i+1)" selected>@Administradora.Instancia.procedencias[i]</option>
                        }
                        else
                        {
                            <option value="@(i+1)">@Administradora.Instancia.procedencias[i]</option>
                        }
                    }
                </select>
            </div>
            <div class="form-group">
                <lable for="Direccion">Dirección:</lable>
                <input type="text" name="Direccion" class="form-control" required value="@CM.Direccion">
            </div>

            <div class="form-group">
                <lable for="razonSocial">Razon Social:</lable>
                <input type="text" name="razonSocial" class="form-control" required value="@CM.RazonSocial">
            </div>
            <div class="form-group">
                <lable for="rut">Rut:</lable>
                <input type="text" name="rut" class="form-control" required value="@CM.Rut">
            </div>

            <div class="form-group">
                <lable for="descuento">Descuento:</lable>
                <input type="text" name="descuento" class="form-control" required value="@CM.Descuento">
            </div>

            <div class="form-group">
                <lable for="username">Nombre de Usuario:</lable>
                <input type="text" name="username" class="form-control" required value="@CM.Usuario.Username">
            </div>
            <div class="form-group">
                <lable for="password">Contraseña:</lable>
                <input type="text" name="password" class="form-control" required value="@CM.Usuario.Password">
            </div>
            <input type="hidden" name="Email" value="@CM.Email">
            <input type="submit" value="Modificar">
        </fieldset>
    </form>
    <h2 class="MensajeError">@ViewBag.ErrMsg</h2>
}
